/*Login Page stylesheet*/

body {
	background-color: #dfdfdf;
	font-family: 'Text Me One', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	padding: 25px;
}

#titlegame {
	font-size: 72px;
	color: #FFF;
	padding-top: 50px;
}
#outer-container {
	margin: 0 auto;
	text-align: center;
	display: block;
	border:2px solid #000000;
	width:1000px; 
	height:600px;
	position:relative;
	background: url("../txture.png");
	
	/** shadow **/
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 5px 5px 5px black;
	-webkit-box-shadow: 5px 5px 5px black;
	box-shadow: 5px 5px 5px black;
}

#message-input {
	text-align: right;
	color: #000;
	font-size: 12px;
	position: absolute;
	width: 230px;
	height:20px;
	right:375px;
	bottom:400px;
	background-color: #FFF;
	border-radius: 5px;
  	-moz-border-radius: 5px;
  	border: none;

}

#submitButton {
	text-align: left;
	font-size: 14px;
	position: absolute;
	right:375px;
	bottom:350px;
	color: #000000;
  	background-color: #FFFFFF;
  	border-radius: 5px;
  	-moz-border-radius: 5px;
  	border: none;
}

.shadow {
   /* http://css-tricks.com/snippets/css/css-box-shadow/ */
   -moz-box-shadow:    inset 0 0 15px #000000;
   -webkit-box-shadow: inset 0 0 15px #000000;
   box-shadow:         inset 0 0 15px #000000;
}
