/*15-237 Project 4
 * Samaan Ghani (sghani), Folashade Okunubi (foo),  Lydia Utkin(lju)
 * Due: 26 February 2013 
 
 Based off of Mario Party series.
*/

#MiniGame1Canvas {
	border: 1px solid #000;
	background: #eee url(../img1/profile.jpg);
	background-size: 850px 600px;
	background-repeat: no-repeat;
	outline: none;
	
}

#MiniGame2Canvas {
	border: 1px solid #000;
	background: #eee url(../img2/ipad.png);
	background-size: 1000px 630px; /*850px 600px;*/
	background-repeat: no-repeat;
	background-position:center; 
	outline: none;
	
}

#MiniGame3Canvas {
	border-top: 10px solid #CD2626; /* red */
	border-left: 10px solid #458B00; /* green */
	border-right: 10px solid #FF9912; /* yellow*/
	border-bottom: 10px solid #104E8B; /* blue */
}

#MiniGame4Canvas {
	border: 1px solid #000;
	background: #eee url(../img4/lazerh.jpg);
	background-size: 1003px 630px; /*850px 600px;*/
	background-repeat: no-repeat;
	background-position:center; 
	outline: none;
	
}