/****** Main Style Sheet ******/
/* pretty blue: #46b */

body {
	background-color: #ccc;/* #dfdfdf;*/
	font-family:  'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	padding: 25px;
/*	padding-top: 50px;*/
	padding-left: 50px;
}

#outer-container {
	margin: 0 auto;
	text-align: center;
	display: block;
	border:2px solid #000000;
/*	width:1500px; */
/*	height:700px;*/
	background: url("../images/txture.png");
	width: 1500px; /* 1000px */
	height: 700px; /*600px */
	position:relative;
	
	/** shadow **/
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 5px 5px 5px black;
	-webkit-box-shadow: 5px 5px 5px black;
	box-shadow: 5px 5px 5px black;
}

/**** Main Containers ****/
#game-canvas {
	position: absolute;


 	border:5px solid #212121;
	background: #112D4E;
	border-radius :8px;
	width : 1000px; 
	height: 600px;

/*	border:1px solid #000000; */
/*	width:600px; */
/*	height:500px;*/
	background-color: #46b; /*#234*/

	left: 50px;
	top: 45px;
}

#map-canvas {
	position: absolute;

/*
	border:5px solid #212121;
	width:350px; 
	height:200px;
	background-color: #628970;*/

	border:5px solid #212121;
	width:330px; 
	height:200px;
	background-color: #928;

	top:45px;
	right:50px;
}

#chatroom {
	font-size: 16px;
	position: absolute;
	border:5px solid #212121;
	width: 300px; /*subtract padding*(2) from 250*/
	height:290px;
	background-color: #333;
	right:50px;
	bottom:100px;
	padding: 15px; /* padding adds to the width of the box !! */
	line-height: 1.15; /*basically a percentage */
	overflow-y : scroll;
}


/**** Navigation ****/
#nav {
	width: 10px;
	height: 100%;
	background-color: #46b; /*#dfdfdf;*/
	position: absolute;
	left: 0;
	top: 0;
}

#nav-content {
	height: 100%;
	width: 40px;
	background-color: #aaa;
/*	border-right: 1px solid black;*/
	position: absolute;
	left: 10px;
	top: 0;
	padding-left: 5px;
	font-family: 'Josefin Sans', monospace;
	color: transparent;
	line-height: 7;
	font-size:12px;
	font-weight: 300;
	text-align: center;
}

#nav-content:first-child {
}

.icon {
	margin-top:30px;
	margin-bottom: 80px;
}

.icon p{
	margin:0;
	padding:0;
	text-align:center;
	margin-left: -3px;
}

#game {
	width: 32px;
	height: 32px;
/*	position: absolute;*/
/*	left:10px;*/
/*	top: 100px;*/
	background: url("../images/dice.png");
	background-repeat: no-repeat;
	margin-top: 180px;
	
}

#game:hover {
	background: url("../images/h-dice.png");
	color: white;
}

#stats {
	width: 32px;
	height: 32px;
/*	position: absolute;*/
/*	left:10px;*/
/*	top: 200px;*/
	background: url("../images/bars.png");
	background-repeat: no-repeat;
}

#stats:hover{
	background: url("../images/h-bars.png");
	color: white;
}

#help {
	width: 32px;
	height: 32px;
/*	position: absolute;*/
/*	left:10px;*/
/*	top: 300px;*/
	background: url("../images/info.png");
	background-repeat: no-repeat;
	margin-left:0;
}

#help:hover{
	background: url("../images/h-info.png");
	color: white;
}

#about {
	width: 32px;
	height: 32px;
/*	position: absolute;*/
/*	left:10px;*/
/*	top: 400px;*/
	background: url("../images/users2.png");
	background-repeat: no-repeat;
}

#about:hover{
	background: url("../images/h-users.png");
	color: white;
}




/**** Nav Pages  ****/
.over {
	height: 100%;
	width: 100%;
/*	background-color: #000;*/
/*	opacity: 0.8;*/
	background-color: rgba(0, 0, 0, 0.9);
	position: absolute;
	left:0px;
	top: 0px;
	z-index: 20;
	display:none;
	color: white;
}


#overlay {
	height: 100%;
	width: 100%;
/*	background-color: #000;*/
/*	opacity: 0.8;*/
/*	background-color: rgba(0, 0, 0, 0.8);*/
	position: absolute;
	left:0px;
	top: 0px;
	z-index: 20;
	display:none;
	color: white;
}

#overlay-about {
	height: 100%;
	width: 100%;
/*	background-color: #000;*/
/*	opacity: 0.8;*/
/*	background-color: rgba(0, 0, 0, 0.8);*/
	
	position: absolute;
	left:0px;
	top: 0px;
	z-index: 20;
	display:none;
	color: white;
}



/**** stats page *****/
#stats-overlay {
/*	display: inline-block;*/
}

.overlay-header {
	font-size: 50px;
	font-weight:800;
	font-family: 'Josefin Sans', 'Helvetica', sans-serif;
	margin: 15px 0 15px 0;
	border-bottom: 3px solid #46b;
}

.players {
	display:inline-block;
	width: 400px;
	height: 200px;
	margin: 10px;
	color: black;
	border: 1px solid #000;
	background: #ccc;
	-moz-border-radius: 10px;
	border-radius: 10px;
	vertical-align:top;
	padding:15px;
	text-align: left;	
	line-height: 1.5;
	font-size: 16px;
}

.score {
	display:inline;
}

.score:before {
	content:"Score: ";
}

.playername {
	border-bottom: 2px solid #000;
	font-size: 25px;
	font-weight:900;
}


/***** Developer Page ****/
.dev {
	display:inline-block;
	width: 300px;
	height: 200px;
	margin: 10px;
	color: black;
	border: 1px solid #000;
	background: #444;
	-moz-border-radius: 10px;
	border-radius: 10px;
	vertical-align:top;
}







h1 {
	margin-top:30px;
	margin-bottom:30px;
	font-size:50px;
}

p {
	text-align: left;
}






/**** New Chatroom ****/
.bubble 
{
position: relative;
width: 175px;
padding: 3px;
border-top: #A4A79F solid 1px;
border-bottom: #262725 solid 1px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.myself{
	float: right;
	text-align:right;
	background: #595A55;
}

.others{
	float: left;
	text-align: left;
	background: #2F302D;
}

#message-input {
	text-align: left;
	color: #000;
	font-size: 16px;
	position: absolute;
	width: 334px;
	height:30px;
	right:50px;
	bottom:50px;
	background-color: #FFF;
	border-radius: 5px;
  	-moz-border-radius: 5px;
  	border: none;

}

#submitButton {
	text-align: center;
	font-size: 16px;
	position: absolute;
	right:50px;
	bottom:5px;
	width:100px;
	color: #fff;
  	background-color: #46b;
  	border:5px solid #212121;
  	border-radius: 5px;
  	/*
  	-moz-border-radius: 5px;
  	border: none;*/
}


/**** Main Container Classes ****/

.shadow {
   /* http://css-tricks.com/snippets/css/css-box-shadow/ */
   -moz-box-shadow:    inset 0 0 15px #000000;
   -webkit-box-shadow: inset 0 0 15px #000000;
   box-shadow:         inset 0 0 15px #000000;
}


/**** Chatroom Styles ****/
#chatroom li{ 
	margin-top: 10px;
	margin-bottom: 10px;
	list-style: none;
	color: #FFF;
	overflow: hidden;
}
	
#chatroom .user {
	color: #46a;
}

#chatroom .message {
	color: #efefef;
}


