/****** Main Style Sheet ******/

body {
	background-color: #ccc;/* #dfdfdf;*/
	font-family:  'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	padding: 25px;
/*	padding-top: 50px;*/
}

#outer-container {
	margin: 0 auto;
	text-align: center;
	display: block;
	border:2px solid #000000;
	width: 1000px; /* 1000px */
	height: 600px; /*600px */
	position:relative;
	background: url("../images/txture.png");
	
	/** shadow **/
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 5px 5px 5px black;
	-webkit-box-shadow: 5px 5px 5px black;
	box-shadow: 5px 5px 5px black;
}

/**** Main Containers ****/
#game-canvas {
	position: absolute;
	border:1px solid #000000;
	width:600px; 
	height:500px;
	background-color: #46b; /*#234*/
	left: 50px;
	bottom: 50px;
}

#map-canvas {
	position: absolute;
	border:0px solid #000000;
	width:267px; 
	height:150px;
	background-color: #928;
	top:45px;
	right:50px;
}

#chatroom {
	font-size: 14px;
	position: absolute;
	border:0px solid #000000;
	width: 238px; /*subtract padding*(2) from 250*/
	height:260px;
	background-color: #333;
	right:50px;
	bottom:100px;
	padding: 15px; /* padding adds to the width of the box !! */
	line-height: 1.15; /*basically a percentage */
	overflow-y : scroll;
}


/**** Navigation ****/
#nav {
	width: 10px;
	height: 100%;
	background-color: #46b; /*#dfdfdf;*/
	position: absolute;
	left: 0;
	top: 0;
}

#nav-content {
	height: 100%;
	width: 50px;
/*	background-color: #333;*/
/*	border-right: 1px solid black;*/
	position: absolute;
	left: 10px;
	top: 0;
	padding-left: 5px;
	font-family: monospace;
	color: transparent;
	line-height: 6;
	font-size:14px;
}

#game {
	width: 32px;
	height: 32px;
	position: absolute;
/*	left:10px;*/
	top: 100px;
	background: url("../images/dice.png");
	background-repeat: no-repeat;
}

#game:hover {
	background: url("../images/h-dice.png");
	color: white;
}

#stats {
	width: 32px;
	height: 32px;
	position: absolute;
/*	left:10px;*/
	top: 200px;
	background: url("../images/bars.png");
	background-repeat: no-repeat;
}

#stats:hover{
	background: url("../images/h-bars.png");
	color: white;
}

#help {
	width: 32px;
	height: 32px;
	position: absolute;
/*	left:10px;*/
	top: 300px;
	background: url("../images/info.png");
	background-repeat: no-repeat;
}

#help:hover{
	background: url("../images/h-info.png");
	color: white;
}

#about {
	width: 32px;
	height: 32px;
	position: absolute;
/*	left:10px;*/
	top: 400px;
	background: url("../images/users2.png");
	background-repeat: no-repeat;
}

#about:hover{
	background: url("../images/h-users.png");
	color: white;
}




/**** Nav Pages  ****/
.over {
	height: 100%;
	width: 100%;
	background-color: #000;
	opacity: 0.8;
	position: absolute;
	left:0px;
	top: 0px;
	z-index: 20;
	display:none;
	color: white;
}

/**
#overlay {
	height: 100%;
	width: 100%;
	background-color: #000;
	opacity: 0.8;
	position: absolute;
	left:0px;
	top: 0px;
	z-index: 20;
	display:none;
	color: white;
}

#overlay-about {
	height: 100%;
	width: 100%;
	background-color: #000;
	opacity: 0.8;
	position: absolute;
	left:0px;
	top: 0px;
	z-index: 20;
	display:none;
	color: white;
}**/

h1 {
	margin-top:30px;
	margin-bottom:30px;
	font-size:50px;
}

p {
	text-align: left;
}






/**** New Chatroom ****/
.bubble 
{
position: relative;
width: 175px;
padding: 3px;
border-top: #A4A79F solid 1px;
border-bottom: #262725 solid 1px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.myself{
	float: right;
	text-align:right;
	background: #5D5E59;
}

.others{
	float: left;
	text-align: left;
	background: #2F302D;
}


#message-input {
	text-align: left;
	color: #000;
	font-size: 12px;
	position: absolute;
	width: 245px;
	height:30px;
	right:55px;
	bottom:60px;
	background-color: #FFF;
	border-radius: 5px;
  	-moz-border-radius: 5px;
  	border: none;

}

#submitButton {
	text-align: left;
	font-size: 14px;
	position: absolute;
	right:50px;
	bottom:20px;
	color: #000000;
  	background-color: #FFFFFF;
  	border-radius: 5px;
  	-moz-border-radius: 5px;
  	border: none;
}


/**** Main Container Classes ****/

.shadow {
   /* http://css-tricks.com/snippets/css/css-box-shadow/ */
   -moz-box-shadow:    inset 0 0 15px #000000;
   -webkit-box-shadow: inset 0 0 15px #000000;
   box-shadow:         inset 0 0 15px #000000;
}


/**** Chatroom Styles ****/
#chatroom li{ 
	margin-top: 10px;
	margin-bottom: 10px;
	list-style: none;
	color: #FFF;
	overflow: hidden;

}
	
#chatroom .user {
	color: #46a;
}

#chatroom .message {
	color: #efefef;
}


