/****** Main Style Sheet ******/
/* pretty blue: #46b */
/*15-237 Project 4
 * Samaan Ghani (sghani), Folashade Okunubi (foo),  Lydia Utkin(lju)
 * Due: 26 February 2013 
 
 Based off of Mario Party series.
*/

body {
	background-color: #ccc;
	font-family:  'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	padding: 25px;

	padding-left: 50px;
}


h1 {
	margin-top:30px;
	margin-bottom:30px;
	font-size:50px;
}

p {
	text-align: left;
}

b {
	font-weight:700;
}


#outer-container {
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
	display: block;
	border:2px solid #000000;
	background: url("../images/txture.png");
	width: 1500px; /* 1000px */
	height: 700px; /*600px */
	position:relative;
	
	/** shadow **/
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 5px 5px 5px black;
	-webkit-box-shadow: 5px 5px 5px black;
	box-shadow: 5px 5px 5px black;
}

/**** Main Containers ****/
/*#game-canvas {*/
#GameBoard {
	position: absolute;


 	
/*	background: #112D4E;*/
	border-radius :8px;
	width : 1000px; 
	height: 600px;

	border:5px solid #212121;

	left: 50px;
	top: 60px;
	
	outline: none;
}

#map-canvas {
	position: absolute;

	border:5px solid #212121;
	width:330px; 
	height:200px;
	background-color: #928;

	top:60px;
	right:50px;
}

#gameb{
	font-family: 'Oleo Script Swash Caps', cursive;
	font-size: 28px;
	border:5px solid #212121;
	color:#FFF;
	position:absolute;
	width: 80px; /*subtract padding*(2) from 250*/
	height:50px;
	background-color: #333;
	left:80px;
	top:10px;
	padding:10px;
}
#map{
	font-family: 'Oleo Script Swash Caps', cursive;
	font-size: 28px;
	border:5px solid #212121;
	color:#FFF;
	position:absolute;
	width: 80px; /*subtract padding*(2) from 250*/
	height:50px;
	background-color: #333;
	right:260px;
	top:10px;
	padding:10px;
}
#chat{
	font-family: 'Oleo Script Swash Caps', cursive;
	font-size: 28px;
		border:5px solid #212121;
	color:#FFF;
	position:absolute;
	width: 80px; /*subtract padding*(2) from 250*/
	height:50px;
	background-color: #333;
	right:260px;
	bottom:345px;
	padding:10px;
}
#chatroom {
	font-size: 16px;
	position: absolute;
	border:5px solid #212121;
	width: 300px; /*subtract padding*(2) from 250*/
	height:240px;
	background-color: #333;
	right:50px;
	bottom:100px;
	padding: 15px; /* padding adds to the width of the box !! */
	line-height: 1.15; /*basically a percentage */
	overflow-y : scroll;
}


/**** Navigation ****/
#nav {
	width: 10px;
	height: 100%;
	background-color: #46b; /*#dfdfdf;*/
	position: absolute;
	left: 0;
	top: 0;
}

#nav-content {
	height: 100%;
	width: 40px;
	background-color: #aaa;
/*	border-right: 1px solid black;*/
	position: absolute;
	left: 10px;
	top: 0;
	padding-left: 5px;
	font-family: 'Josefin Sans', monospace;
	color: transparent;
	line-height: 7;
	font-size:12px;
	font-weight: 300;
	text-align: center;
}

#nav-content:first-child {
}

.icon {
	margin-top:30px;
	margin-bottom: 80px;
}

.icon p{
	margin:0;
	padding:0;
	text-align:center;
	margin-left: -3px;
}

#game {
	width: 32px;
	height: 32px;

	background: url("../images/dice.png");
	background-repeat: no-repeat;
	margin-top: 180px;
	
}

#game:hover {
	background: url("../images/h-dice.png");
	color: white;
}

#stats {
	width: 32px;
	height: 32px;
	background: url("../images/bars.png");
	background-repeat: no-repeat;
}

#stats:hover{
	background: url("../images/h-bars.png");
	color: white;
}

#help {
	width: 32px;
	height: 32px;
	background: url("../images/info.png");
	background-repeat: no-repeat;
	margin-left:0;
}

#help:hover{
	background: url("../images/h-info.png");
	color: white;
}

#about {
	width: 32px;
	height: 32px;

	background: url("../images/users2.png");
	background-repeat: no-repeat;
}

#about:hover{
	background: url("../images/h-users.png");
	color: white;
}




/**** Nav Pages  ****/
.over {
	height: 100%;
	width: 100%;

	background-color: rgba(0, 0, 0, 0.9);
	position: absolute;
	left:0px;
	top: 0px;
	z-index: 20;
	display:none;
	color: white;
}


#overlay {
	height: 100%;
	width: 100%;

	position: absolute;
	left:0px;
	top: 0px;
	z-index: 20;
	display:none;
	color: white;
}

#overlay-about {
	height: 100%;
	width: 100%;
	
	position: absolute;
	left:0px;
	top: 0px;
	z-index: 20;
	display:none;
	color: white;
}



/**** stats page *****/
#stats-overlay {

}

.overlay-header {
	font-size: 50px;
	font-weight:800;
	font-family: 'Josefin Sans', 'Helvetica', sans-serif;
	margin: 15px 0 15px 0;
	border-bottom: 3px solid #46b;
}


.players {
	display:inline-block;
	width: 400px;
	height: 200px;
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 30px;
	margin-bottom: 20px;
	color: black;
	border: 1px solid #000;
	background: #ccc;
	-moz-border-radius: 10px;
	border-radius: 10px;
	vertical-align:top;
	padding:15px;
	text-align: left;	
	line-height: 1.5;
	font-size: 16px;
}

.score {
	display:inline;
}

.score:before {
	content:"Score: ";
}

.playername {
	border-bottom: 2px solid #000;
	font-size: 25px;
	font-weight:900;
}



/******* Help/ Information Page *****/
#help-overlay {

	overflow-y:scroll;
	line-height:1.1;
}

#help-overlay p {
	color: #ddd;
	font-size: 23px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 15px;

}

#help-overlay h1 {
	color: #888;
	font-family: 'Josefin Sans', 'Helvetica', sans-serif;
	margin-bottom: 15px;
	text-align:left;
	border-left: 10px solid #46b;
	border-bottom: 10px solid transparent;
	border-top: 10px solid transparent;
	
	padding-left:10px;
	padding-top:5px;
	font-weight:700;
	font-size: 35px;
	text-shadow: 3px 2px 2px #fff;
	
}

#help-overlay img {
	display: inline-block;
}


#help-overlay h2 {
	font-size: 25px;
	text-align:left;
	padding-left: 5px;
	font-style: italic;
	border-bottom: 5px solid #555;
	border-left: 5px solid transparent;
	margin-left: 20px;
	margin-right: 40px;
	margin-bottom: 5px;
}

#help-overlay b {
	color: #46b;
}

.right-arrow {
	width: 0; 
	height: 0; 
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent;
	
	border-left: 60px solid green;	
}


#m { color: #FF9912;}
#a { color: #CD2626;}
#g { color: #458B00;}




/******** About Us Developer Page *********/
#about-overlay {

}

#about-overlay {
	text-align: center;
}


.dev {
	display:inline-block;
	width: 450px;
	height: 400px;
	margin: 10px;
	color: black;
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	border-radius: 10px;
	vertical-align:top;
	position:relative;
}

.dev p{
	position:absolute;
	bottom:-40px;	
	color: #46b;
	font-family: 'Josefin Sans', 'Helvetica', sans-serif;
	text-align:center;
	
	font-weight:700;
	font-size: 90px;

	text-shadow: 3px 2px 2px #fff;
	
}

#dev1 {
	background: #444 url(../images/lydia.jpg) ;
}

#dev2 {
	background: #444 url(../images/samaan.jpg);
	background-position: left center;
}

#dev3 {
	background: #444 url(../images/fo.jpg) ;
	background-size:880px;
	background-position: left top;
	
}







/**** New Chatroom ****/
.bubble 
{
position: relative;
width: 175px;
padding: 3px;
border-top: #A4A79F solid 1px;
border-bottom: #262725 solid 1px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.myself{
	float: right;
	text-align:right;
	background: #595A55;
}

.others{
	float: left;
	text-align: left;
	background: #2F302D;
}

#message-input {
	text-align: left;
	color: #000;
	font-size: 16px;
	position: absolute;
	width: 334px;
	height:30px;
	right:50px;
	bottom:50px;
	background-color: #FFF;
	border-radius: 5px;
  	-moz-border-radius: 5px;
  	border: none;

}

#submitButton {
	text-align: center;
	font-size: 16px;
	position: absolute;
	right:50px;
	bottom:5px;
	width:100px;
	color: #fff;
  	background-color: #46b;
  	border:5px solid #212121;
  	border-radius: 5px;
 
}



#mini-overlay {
/*	display:inline-block;*/
}

#MiniGame1Canvas {
	border: 3px solid #fff;
	margin:50px;
	
	display:none;
}

#MiniGame2Canvas {
	border: 3px solid #fff;
	margin-top:50px;
	
	display:none;
}

#MiniGame3Canvas {
	border: 3px solid #fff;
	margin-top:50px;
	
}

#MiniGame4Canvas {
	border: 3px solid #fff;
	margin-top:50px;
	
	display:none;
}

/***** foooter *****/
#footer {
	position:fixed;
	bottom: 0;
	left:0;
	width: 100%;
	background-color: #222;
	height:70px;
	margin: 0;
	text-align: center;
}

.tab {
	background: no-repeat;
	display:inline-block;
	width: 40px;
	height: 40px;
	margin: 20px;
}

#mini1 {background: url("../images/pause.png"); }
#mini2 {background-color: #DDDFAF; }
#mini3 {background-color: #FFEE33; }









/**** Main Container Classes ****/

.shadow {
   /* http://css-tricks.com/snippets/css/css-box-shadow/ */
   -moz-box-shadow:    inset 0 0 15px #000000;
   -webkit-box-shadow: inset 0 0 15px #000000;
   box-shadow:         inset 0 0 15px #000000;
}


/**** Chatroom Styles ****/
#chatroom li{ 
	margin-top: 10px;
	margin-bottom: 10px;
	list-style: none;
	color: #FFF;
	overflow: hidden;
}
	
#chatroom .user {
	color: #46a;
}

#chatroom .message {
	color: #efefef;
}


