/****** Main Style Sheet ******/

body {
	background-color: #dfdfdf;
	font-family:  'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	padding: 25px;
}

#outer-container {
	margin: 0 auto;
	text-align: center;
	display: block;
	border:2px solid #000000;
	width:1000px; 
	height:600px;
	position:relative;
	background: url("../txture.png");
	
	/** shadow **/
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 5px 5px 5px black;
	-webkit-box-shadow: 5px 5px 5px black;
	box-shadow: 5px 5px 5px black;
}

/**** Main Containers ****/
#game-canvas {
	position: absolute;
	border:2px solid #000000;
	left: 50px;
	top: 45px;
}

#map-canvas {
	position: absolute;
	border:1px solid #000000;
	width:265px; 
	height:150px;
	background-color: #928;
	top:45px;
	right:50px;
}

#chatroom {
	font-size: 14px;
	position: absolute;
	border:0px solid #000000;
	width: 238px; /*subtract padding*(2) from 250*/
	height:260px;
	background-color: #333;
	right:50px;
	bottom:100px;
	padding: 15px; /* padding adds to the width of the box !! */
	line-height: 1.15; /*basically a percentage */
	overflow-y : scroll;
}

.bubble 
{
position: relative;
width: 175px;
padding: 3px;
border-top: #A4A79F solid 1px;
border-bottom: #262725 solid 1px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.myself{
	float: right;
	text-align:right;
	background: #5D5E59;
}

.others{
	float: left;
	text-align: left;
	background: #2F302D;
}


#message-input {
	text-align: left;
	color: #000;
	font-size: 12px;
	position: absolute;
	width: 245px;
	height:30px;
	right:55px;
	bottom:60px;
	background-color: #FFF;
	border-radius: 5px;
  	-moz-border-radius: 5px;
  	border: none;

}

#submitButton {
	text-align: left;
	font-size: 14px;
	position: absolute;
	right:50px;
	bottom:20px;
	color: #000000;
  	background-color: #FFFFFF;
  	border-radius: 5px;
  	-moz-border-radius: 5px;
  	border: none;
}
/**** Main Container Classes ****/

.shadow {
   /* http://css-tricks.com/snippets/css/css-box-shadow/ */
   -moz-box-shadow:    inset 0 0 15px #000000;
   -webkit-box-shadow: inset 0 0 15px #000000;
   box-shadow:         inset 0 0 15px #000000;
}


/**** Chatroom Styles ****/
#chatroom li{ 
	margin-top: 10px;
	margin-bottom: 10px;
	list-style: none;
	color: #FFF;
	overflow: hidden;

}
	
#chatroom .user {
	color: #46a;
}

#chatroom .message {
	color: #efefef;
}


