/****** Main Style Sheet ******/

body {
	background-color: #dfdfdf;
	font-family: 'Text Me One', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	padding: 25px;
}

#outer-container {
	margin: 0 auto;
	text-align: center;
	display: block;
	border:2px solid #000000;
	width:1000px; 
	height:600px;
	position:relative;
	background: url(txture.png);
	
	/** shadow **/
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 5px 5px 5px black;
	-webkit-box-shadow: 5px 5px 5px black;
	box-shadow: 5px 5px 5px black;
}

/**** Main Containers ****/
#game-canvas {
	position: absolute;
	border:2px solid #000000;
	width:600px; 
	height:500px;
	background-color: #46b; /*#234*/
	left: 50px;
	bottom: 50px;
}

#map-canvas {
	position: absolute;
	border:1px solid #000000;
	width:250px; 
	height:150px;
	background-color: #928;
	top:45px;
	right:50px;
}

#chatroom {
	text-align: left;
	font-size: 14px;
	position: absolute;
	border:0px solid #000000;
	width: 238px; /*subtract padding*(2) from 250*/
	height:308px;
	background-color: #333;
	right:50px;
	bottom:50px;
	padding: 8px; /* padding adds to the width of the box !! */
	line-height: 1.15; /*basically a percentage */
	overflow-y : scroll;
}
 
#message-input {
	text-align: right;
	color: #000;
	font-size: 12px;
	position: absolute;
	width: 230px;
	height:20px;
	right:60px;
	bottom:60px;
	background-color: #FFF;
	border-radius: 5px;
  	-moz-border-radius: 5px;
  	border: none;

}

#submitButton {
	text-align: left;
	font-size: 14px;
	position: absolute;
	right:50px;
	bottom:20px;
	color: #000000;
  	background-color: #FFFFFF;
  	border-radius: 5px;
  	-moz-border-radius: 5px;
  	border: none;
}
/**** Main Container Classes ****/

.shadow {
   /* http://css-tricks.com/snippets/css/css-box-shadow/ */
   -moz-box-shadow:    inset 0 0 15px #000000;
   -webkit-box-shadow: inset 0 0 15px #000000;
   box-shadow:         inset 0 0 15px #000000;
}


/**** Chatroom Styles ****/
#chatroom li{ 

}
	
#chatroom .user {
	color: #46a;
}

#chatroom .message {
	color: #efefef;
}


